main {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 4rem;
    padding: 3rem 6rem;
    max-width: 1400px;
    justify-self: center;
}

article aside {
    float: left;
}

article h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

.sidebar {
    padding-block: 1em;
    max-width: 32ch;
    border-top: 0.8em solid var(--color-brand-primary);
}

.sidebar h2 {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.sidebar img {
    margin-block-start: 1em;
    width: 100%;
    filter: var(--image-drop-shadow);
}

header {
    position: relative;
    background-color: var(--color-brand-primary);
    color: white;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    padding: 3rem 6rem 1rem;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

header::after {
    position: absolute;
    content: '';
    inset: 10% 25%;
    border-radius: 100%;
    box-shadow: 0 0 100px #0008, 0 0 75px #000b;
    background: yellow;
    z-index: -1;
}

header img {
    margin-top: -4.5rem;
    filter: var(--img-drop-shadow);
}

header .title {
    justify-self: center;
    text-transform: uppercase;
    max-width: 60ch;
}

header .title span {
    letter-spacing: 1ch;
    text-align: left;
}

header .title h1 {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: right;
    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5);
}

header nav {
    font-family: Avenir, sans-serif;
    grid-column: span 2;
    font-weight: 700;
    letter-spacing: 1px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 1em 4em;
    padding: 0;
    margin-inline: auto;
}

aside {
    text-transform: uppercase;
    max-width: 30ch;
    margin-inline-end: 2em;
    margin-block-end: 0.2em;
}

aside h3 {
    background-color: #f9bc14;
    color: var(--color-brand-primary);
    text-align: center;
    font-style: italic;
    letter-spacing: 0.8ch;
    padding: 0.25em;
    margin-block-end: 1em;
}

aside ul {
    list-style-color: white;
    margin-right: 30px;
    letter-spacing: 1px;
    line-height: 1.2;
    font-size: 0.8rem;
    font-weight: 700;
    font-style: italic;
    padding-inline-start: 3ch;
    list-style: none;
}

aside ul li {
    position: relative;
    margin-block-end: 0.5em;
    max-width: 68%;
}

aside ul li::before {
    content: '\2022  ';
    color: #f9bc14;
}

aside img {
    width: 100%;
    margin-top: -3em;
    transform: translateX(1rem);
    filter: var(--image-drop-shadow);
}

footer {
    background-color: var(--color-brand-primary);
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 5em;
    padding: 2em 1em 3em;
}

footer p {
    margin: 0;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

footer li {
    padding: 0 1em;
}

footer ul li:not(:last-child) {
    border-inline-end: 1px solid white;
}

header a,
footer a {
    color: white;
    text-decoration: none;
}

@media (max-width: 1000px) {
    main {
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 2rem;
    }
    header {
        grid-template-columns: 1fr;
        padding-inline: 1em;
    }
    header img {
        display: none;
    }
    article aside {
        display: none;
    }
    .sidebar {
        max-width: 100%;
    }
    .sidebar img {
        width: 50%;
    }
    footer {
        flex-direction: column;
        padding-inline: 1em;
        gap: 2.5ch;
    }
}